<!DOCTYPE html>
<html>
  <head>
    <title>BlogRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav>
    <div class="nav-wrapper blue darken-1">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li>Bonjour, <%= current_user.last_name %> !</li>
          <li><%= link_to('Deconnexion', destroy_user_session_path, :method=>"delete" ) %></li>
        <% else %>
          <li><%= link_to('Se connecter', new_user_session_path ) %></li>
          <li><%= link_to('S\'inscrire', new_user_registration_path ) %></li>
        <% end %>
      </ul>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
