<!DOCTYPE html>
<html>
  <head>
    <title>BlogRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper primary">
      <div class="brand-logo primary--text"><%= link_to root_path do  %> <i class=" material-icons">home</i>Home <% end %> </div>
      <ul id="nav-mobile" class="right hide-on-small-only">
        <% if current_user %>
          <li class="secondary--text"><%= link_to("Bonjour, " + current_user.first_name, user_path(current_user)) %></li>
          <li class="primary--text"><%= link_to('Nouveau post', new_post_path) %></li>
          <li class="primary--text"><%= link_to('Mes posts', user_path(current_user)) %></li>
          <li class="primary--text"><%= link_to('Deconnexion', destroy_user_session_path, :method=>"delete" ) %></li>
        <% else %>
          <li class="primary--text"><%= link_to('Se connecter', new_user_session_path ) %></li>
          <li class="primary--text"><%= link_to('S\'inscrire', new_user_registration_path ) %></li>
        <% end %>
      </ul>
      <ul id="nav-mobile" class="hide-on-med-and-up	">
        <a class='dropdown-trigger right' href='#' data-target='menu'><i class=" material-icons">menu</i></a>
        <ul id='menu' class='dropdown-content primary'>
        <% if current_user %>
          <li class="secondary--text"><%= link_to("Bonjour, " + current_user.first_name, user_path(current_user)) %></li>
          <li class="primary--text"><%= link_to('Nouveau post', new_post_path) %></li>
          <li class="primary--text"><%= link_to('Mes posts', user_path(current_user)) %></li>
          <li class="primary--text"><%= link_to('Deconnexion', destroy_user_session_path, :method=>"delete" ) %></li>
        <% else %>
          <li class="primary--text"><%= link_to('Se connecter', new_user_session_path ) %></li>
          <li class="primary--text"><%= link_to('S\'inscrire', new_user_registration_path ) %></li>
        <% end %>
        </ul>
      </ul>
    </div>
  </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
